* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top:hover {
    cursor: url(img/cursor.svg), pointer;
    border: 3px solid #44D2FF;
}

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    padding-top: 218px;
    margin-bottom: 32px;
    color: #FFFFFF;
    max-width: 780px;
}

.title3 {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    padding-top: 32px;
    margin-bottom: 32px;
    color: #FFFFFF;
    max-width: 780px;
}

.title:hover {
    text-decoration: underline #44D2FF;
}

.top_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 44px;
    max-width: 480px;
}

.top_text:hover {
    text-decoration: underline #44D2FF;
}

.for-box {
    background-color: black;
    padding-top: 128px;
    padding-bottom: 128px;
}

.for-box2:hover {
    cursor: url(img/cursor.svg), pointer;
    border: 3px solid #44D2FF;
}

.for-box2 {
    background-color: black;
    padding-top: 128px;
    padding-bottom: 128px;
}

.for-box2:hover {
    cursor: url(img/cursor.svg), pointer;
    border: 3px solid #44D2FF;
}

.for-box3 {
    background-color: black;
    padding-top: 128px;
    padding-bottom: 128px;
}
.for-box3:hover {
    cursor: url(img/cursor.svg), pointer;
    border: 3px solid #44D2FF;
}
.for {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
}

.for2 {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 120px;
}
.for3 {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 120px;
    flex-direction: row-reverse;
}

.for_item {
    height: 300px;
    width: 375px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: white;
    row-gap: 32px;
    display: flex;
    justify-content: left;
    align-items: last baseline;
}


.for_item:hover {
    cursor: url(img/Vector.svg), pointer;
    border: 3px solid #44D2FF;
    border-radius: 18px;
}




.for_item_:hover {
    cursor: url(img/Vector.svg), pointer;
    border: 3px solid #44D2FF;
    border-radius: 18px;
}

.for_item__:hover {
    cursor: url(img/Vector.svg), pointer;
    border: 3px solid #44D2FF;
    border-radius: 18px;
}


.name123 {
    font-size: 24px;
    line-height: 32px;
    color: white;
    margin: 32px;
}

.for_item1 {
    background-image: url(img/for1.jpg);
}


.for_item2 {
    background-image: url(img/for2.jpg);
}

.for_item3 {
    background-image: url(img/for3.jpg);
}

.for_item4 {
    background-image: url(img/for4.svg);
    height: 236px;
    width: 584px;
}
.for_item5 {
    background-image: url(img/for5.svg);
    height: 333px;
    width: 485px;
}

.for_item6 {
    background-image: url(img/for6.svg);
    height: 322px;
    width: 481px;
}

.for_item7 {
    background-image: url(img/for7.svg);
    height: 235.6px;
    width: 588px;
}
.button {
    box-sizing: border-box;
    width: 234px;
    height: 48px;
    font-weight: 400;
    background: #9C0332;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}



.button:hover {
    cursor: url(img/Vector.svg), pointer;
    border: 3px solid #44D2FF;
}

@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
    }
    .title {
        font-size: 32px;
        line-height: 39px;
        text-align: center;
    }
    .top_text {
        font-size: 14px;
        line-height: 22px;
        max-width: 311px;
        text-align: center;
    }
    .top {
        text-align: center;
    }
    .for_item4 {
        background-image: url(img/for4m.svg);
        width: 343px;
        height: 217px;
    }
    .for_item5 {
        background-image: url(img/for5m.svg);
        width: 343px;
        height: 236px;
}
.for_item6 {
    background-image: url(img/for6m.svg);
    width: 343px;
    height: 217px;
}

}